# Visual Studio temporary files
.vs/

# Build folders
bin/
obj/

# User-specific Visual Studio files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db